body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}



.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
    display: block; /* Hace que los elementos label sean bloques, es decir, ocupen toda la anchura disponible */
    margin-bottom: 5px; /* Agrega espacio inferior entre los elementos label e input/select */
}

input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: block; /* Hace que los elementos input/select sean bloques */
    margin-bottom: 10px; /* Agrega espacio inferior entre los elementos input/select */
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#valorSeguro {
    margin-top: 10px;
    font-weight: bold;
}